td {
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#FFFFFF;
}
td.bot {
	text-align: left;
	vertical-align: bottom;
	font-family:Tahoma;
	font-size:11px;
	color:#FFFFFF;
}
form
{
	margin:0px;
}
a {

	text-decoration: underline;
	color:#ffffff;
}
.1
{
	color:#17566A;
}
a.1
{
	color:#17566A;
	text-decoration:underline;
}
a.11
{
	color:#17566A;
	text-decoration:none;
}
.2
{
	color:#103C49;
}

a.2
{
	color:#103C49;
	text-decoration:underline;
}
.3
{
	color:#154F62;
}
.copy
{
	color:#95D3E8;
}
a.copy
{
	color:#95D3E8;
	text-decoration:underline;
}
.t10
{
	font-size:12px;
}